.text-white {
	color: white;
}

.text-light-gray {
	color: lightgray;
}

.mt-15 {
	margin-top: 15px;
}

.bg-white {
	background-color: white;
}

.scroll-btn {
	cursor: pointer;
}

.scroll-btn:hover {
	color: white;
}

.main-nav {
	color: lightgray;
}

.main-nav:hover {
	color: white;
	text-decoration: none;
}

.active-nav {
	color: white;
	text-decoration: underline;
}

.active-nav:hover {
	color: white;
	text-decoration: underline;
}

.nav-padding {
	padding-left: 10px;
	padding-right: 10px;
}

@media only screen and (min-width: 600px) {
  .scroll-to-top {
		display: none;
	}
}

.scroll-to-top {
	text-align: center;
}