.text-white {
	color: white;
}

.text-light-gray {
	color: lightgray;
}

.mt-15 {
	margin-top: 15px;
}

.bg-white {
	background-color: white;
}

.scroll-btn {
	cursor: pointer;
}

.scroll-btn:hover {
	color: white;
}

.main-nav {
	color: lightgray;
}

.main-nav:hover {
	color: white;
	text-decoration: none;
}

.active-nav {
	color: white;
	text-decoration: underline;
}

.active-nav:hover {
	color: white;
	text-decoration: underline;
}

.nav-padding {
	padding-left: 10px;
	padding-right: 10px;
}

.close-modal {
	padding: 2px;
}

.shadarrin-modal-heading {
	color: rgb(53, 53, 45);
	background-color: rgb(189, 202, 128);
	padding: 5px;
	border-radius: 5px;
}

.baldeming-modal-heading {
	color: rgb(187, 182, 182);
	background-color: rgb(87, 72, 58);
	padding: 5px;
	border-radius: 5px;
}

.jiran-modal-heading {
	color: black;
	background-color: rgb(117, 148, 117);
	padding: 5px;
	border-radius: 5px;
}

.modal-body {
	color: rgb(255, 255, 255);
}

@media only screen and (min-width: 600px) {
  .region-buttons {
		display: none;
	}
}
