.exodus-background {
	background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../www/img/background/Exodus-world-concept.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

.map-background {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../www/img/shadarrin-placeholder.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.text-white {
	color: white;
}

.text-light-gray {
	color: lightgray;
}

.mt-15 {
	margin-top: 15px;
}

.bg-white {
	background-color: white;
}

.scroll-btn {
	cursor: pointer;
}

.scroll-btn:hover {
	color: white;
}

.main-nav {
	color: lightgray;
}

.main-nav:hover {
	color: white;
	text-decoration: none;
}

.active-nav {
	color: white;
	text-decoration: underline;
}

.active-nav:hover {
	color: white;
	text-decoration: underline;
}

.nav-padding {
	padding-left: 10px;
	padding-right: 10px;
}

.modal-body {
	color: rgb(255, 255, 255);
}

@media only screen and (min-width: 600px) {
  .region-buttons {
		display: none;
	}

	.close-modal {
		display: none;
	}

	.scroll-to-top {
		display: none;
	}
}

.race-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 45%;
	cursor: pointer;
}

.race-modal-body {
	color: rgb(226, 226, 226);
}

.scroll-to-top {
	text-align: center;
}