/*
	NOTE: Currently organized based on which component the styles are applied to.
	This is because I originally was naming the classes based on what they were applied to.
	However, given that I've renamed the classes to reflect what they do, rather than what
	they are for, we can reorganize this file later.  
	
	EX. putting bg-white and bg-black together, putting mt-10 and mt-15 together, etc.
*/

html body {
	height: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../www/img/background/background.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

// Navbar Styles
.active-tab {
	color: white !important;
}
.bg-black {
	background-color: black;
}
.dropdown-menu {
	background-color: darkgray;
}
.dropdown-item {
	color: black;
}
.dropdown-item:hover {
	background-color: lightgray;
}


// World Styles
.image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}
.mt-10 {
	margin-top: 10px;
}
// // Class ".earth-container" not working (background image not showing),
// // styles are written in-line for now
// .earth-container {
// 	background-image: url(../www/img/background/Galaxy-USB-image.jpg);
// 	background-repeat: no-repeat;
// 	background-position: center;
// 	background-size: cover;
// 	background-attachment: fixed;
// 	color: white;
// }
.text-white {
	color: white;
}
.text-light-gray {
	color: lightgray;
}
.mt-15 {
	margin-top: 15px;
}
.bg-white {
	background-color: white;
}






.pageOption {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 40em;
	height: 27em;
}

.option, .option img {
	width: 100%;
	height: 100%;
}

.option {
  overflow: hidden;
  position: absolute;  
  /* arctan(27 / 40) = 34.01935deg 
   * need to skew by 90deg - 34.01935deg = 55.98065deg
  */
  transform: skewX(-55.98deg);
}

.option:first-child {
  left: -.25em;
  transform-origin: 100% 0;
}

.option:last-child {
  right: -.25em;
  transform-origin: 0 100%;
}

.option img {
	opacity: .75;
	transition: .5s;
}

.option img:hover {
	opacity: 1;
}

.option img, .option:after {
  transform: skewX(55.98deg);
  transform-origin: inherit;
}

.option:after {
  position: absolute;
  margin: .5em 1.65em;
  color: white;
  font: 500 1.25em Courier;
  letter-spacing: .1em;
  text-transform: uppercase;
  content: attr(data-inf);
}

.option:first-child:after {
	top: 0;
	left: 0;
}

.option:last-child:after {
	right: 0;
	bottom: 0;
}